


/*COLORES*/
$lite-red: #ff0000;
$modal-blue: #0076ff;


//breakpoint nav mobile/desktop
$nav-breakpoint: 1024px;


//max-width for mobile
$tablet-breakpoint: 1024px;
$mobile-breakpoint: 768px;


/* Margins */

$margin-dk: 11.38%;
$margin-tb: 7%;
$margin-mb: 15px;
 