/*--------------------------------------------------------------
 TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Reset
2.0 Fuentes
3.0 VARIABLES
4.0 btns
5.0 animations
6.0 GENERAL


/*--------------------------------------------------------------
1.0 Reset
--------------------------------------------------------------*/

@import 'sass/reset';

/*--------------------------------------------------------------
2.0 Fuentes
--------------------------------------------------------------*/

@import 'sass/fonts';

/*--------------------------------------------------------------
3.0 variables
--------------------------------------------------------------*/

@import 'sass/variables';

/*--------------------------------------------------------------
4.0 btns
--------------------------------------------------------------*/

@import 'sass/btns';

/*--------------------------------------------------------------
5.0 animations
--------------------------------------------------------------*/

@import 'sass/animations';

/*--------------------------------------------------------------
6.0 General
--------------------------------------------------------------*/

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.wrapper {
    margin: 0 auto;
    padding: 0;
    color: #000;
    font-size: 100%;
    width: 100%;
    /* max-width = min-width de mediaqueries para XL screens  */
    max-width: 1440px;
}