/*--------------------------------------------------------------
 TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Reset
2.0 Fuentes
3.0 VARIABLES
4.0 btns
5.0 animations
6.0 GENERAL


/*--------------------------------------------------------------
1.0 Reset
--------------------------------------------------------------*/

@import 'sass/reset';

/*--------------------------------------------------------------
2.0 Fuentes
--------------------------------------------------------------*/

@import 'sass/fonts';

/*--------------------------------------------------------------
3.0 variables
--------------------------------------------------------------*/

@import 'sass/variables';

/*--------------------------------------------------------------
4.0 btns
--------------------------------------------------------------*/

@import 'sass/btns';

/*--------------------------------------------------------------
5.0 animations
--------------------------------------------------------------*/

@import 'sass/animations';

/*--------------------------------------------------------------
6.0 General
--------------------------------------------------------------*/

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: black;
}

.wrapper {
    margin: 0 auto;
    padding: 0;
    color: white;
    font-size: 100%;
    width: 100%;
    /* max-width = min-width de mediaqueries para XL screens  */
    max-width: 1440px;
    position: relative;

}

nav,
main {
    padding: 0 $margin-dk;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.hero-wrapper {


    .hero-item {
        padding: 0 $margin-dk;
        height: 760px;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;

        .details {
            max-width: 50%;
            // p.original
            // .hero-title

            .button-wrapper {
                display: flex;
                flex-flow: row wrap;
                margin: 20px 0 25px;
            }
        }

    }

    .hero-title {
        font-family: RobotoSlab;
        font-size: 110px;
        font-weight: bold;
        line-height: 0.82;
    }


}



main.inner-wrapper {
    margin: -64px 0 0;
}

h2 {
    margin: 0 0 20px;
}

.flex-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 75px;

    .movie-wrapper {
        width: 22.95%;
        position: relative;
        /* If you want text inside of it */
        overflow: hidden;

        .movie-cover {
            width: 100%;
            height: auto;
        }

        .on-hover {
            position: absolute;
            top: 110%;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: 0;
            transition: all .5s ease;
            padding: 10px;


            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            align-items: flex-start;

            .button-wrapper:nth-of-type(1) {
                align-self: flex-end;

                button:nth-of-type(2) {
                    margin-left: 10px;
                }

            }

            .button-wrapper:nth-of-type(2) {
                align-self: center;
            }

        }

        //transition on hover
        &:hover {
            .on-hover {
                top: 0%;
                opacity: 1;
                z-index: 9;
                background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
            }

        }

    }
}

.populares-wrapper {
    h2 {
        text-transform: uppercase;
    }

    .flex-wrapper {
        .movie-wrapper {
            height: 500px;

            .movie-cover {
                height: 100%;
                width: auto;
                position: relative;
                left: -10%;
            }

            .on-hover {
                top: 50%;
                background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000);
                display: flex;
                flex-flow: column nowrap;
                justify-content: flex-end;
                align-items: stretch;

                button {}

                .middle-wrapper {
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: space-between;
                    align-items: flex-start;

                    .details {
                        width: 50%;
                    }
                }

                .big-arrow{
                    align-self: center;
                }
            }
        }

    }
}