/*--------------------------------------------------------------
 TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Reset
2.0 Fuentes
3.0 VARIABLES
4.0 btns
5.0 animations
6.0 GENERAL


/*--------------------------------------------------------------
1.0 Reset
--------------------------------------------------------------*/

@import 'sass/reset';

/*--------------------------------------------------------------
2.0 Fuentes
--------------------------------------------------------------*/

@import 'sass/fonts';

/*--------------------------------------------------------------
3.0 variables
--------------------------------------------------------------*/

@import 'sass/variables';

/*--------------------------------------------------------------
4.0 btns
--------------------------------------------------------------*/

@import 'sass/btns';

/*--------------------------------------------------------------
5.0 animations
--------------------------------------------------------------*/

@import 'sass/animations';

/*--------------------------------------------------------------
6.0 General
--------------------------------------------------------------*/

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: black;
}

.wrapper {
    margin: 0 auto;
    padding: 0;
    color: white;
    font-size: 100%;
    width: 100%;
    /* max-width = min-width de mediaqueries para XL screens  */
    max-width: 1440px;
}
nav, main{
    padding: 0 $margin-dk;

}

.hero-wrapper {


    .hero-item {
        padding: 0 $margin-dk;
        height: 760px;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;

        .details {
            max-width: 50%;
            // p.original
            // .hero-title

            .button-wrapper{
                display: flex;
                flex-flow: row wrap
            }
        }

    }

    .hero-title {
        font-family: RobotoSlab;
        font-size: 110px;
        font-weight: bold;
        line-height: 0.82;
    }


}



.inner-wrapper {}

.proximamente-wrapper {


    .movies-wrapper {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-start;
    }
}